{% extends 'base.html' %}
{% block title %}
  Shoes Online Shop
{% endblock %}
{% block content %}
<div class="site-section" >
  <div class="container">
    <div class="row" id="product_details"  >
      <div class="col-md-6">
        <img src="{{ product.image.url }}" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2 class="text-black">{{product.brand}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae, explicabo? Incidunt facere, natus soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque sint asperiores fuga voluptas, distinctio, aperiam, ratione dolore.</p>
        <p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p>
        <p><strong class="text-primary h4">{{ product.last_price }}$</strong></p>
        
        <div class="mb-1 d-flex">
          {% for size in sizes %}
          <label for="option-sm" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;">
              <input type="radio" value="{{ size }}" id="option-sm" name="shop-sizes">
            </span> 
            <span id="span_size" class="d-inline-block text-black">{{ size }}</span>
          </label>
          {% endfor %}
        </div>
        <div>
          {% for color in colors %}
          <label for="option-sm" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;">
              <input type="radio" value="{{ color }}" id="option-sm" name="shop-colors">
            </span>            
            <span id="span_color" class="d-inline-block text-black">{{ color }}</span>                
          </label>
          {% endfor %}
              <a href="{% url 'cart' %}" class="site-cart">
                <span class="icon icon-shopping_cart"></span>
                <span class="count">2</span>
              </a>
        </div>
        <div class="mb-5">
          <div class="input-group mb-3" style="max-width: 120px;">
          <div class="input-group-prepend">
            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
          </div>
          <input id="quantity" type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
          <div class="input-group-append">
            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
          </div>
        </div>
        </div>
          <script>
            
          </script>
        <p ><a  href="#" onclick="add_to_cart()" class="buy-now btn btn-sm btn-primary">Add To Cart</a></p>
      </div>
    </div>
  </div>
</div>   


<script> 


  const url = window.location.href;

  // Split the URL by '/'
  const urlParts = url.split('/');
  
  // Retrieve the value of the path parameter from the appropriate index
  const pathParamValue = urlParts[4]; // Adjust the index based on your URL structure
document.addEventListener('DOMContentLoaded', function(e) {
// Get the current URL
    e.preventDefault();

const url_shoe_detail = "http://localhost:8000/shoe_detail/" + encodeURIComponent(pathParamValue)+"/";
    fetch(url_shoe_detail, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
       
    })
        .then(response => response.json())
        .then(data => {
          console.log(data);
        }).catch(error => {
            // Handle any errors
            console.error('Error:', error);
        });
} );

function add_to_cart() {
  console.log("*********");
  const quantity = document.getElementById('quantity').value;
  const colorRadioButtons = document.getElementsByName('shop-colors');
  let selectedColor = "";
  for (const radioButton of colorRadioButtons) {
    if (radioButton.checked) {
      selectedColor = radioButton.value;
      break;
    }
  }

  const sizeRadioButtons = document.getElementsByName('shop-sizes');
  let selectedSize = "";
  for (const radioButton of sizeRadioButtons) {
    if (radioButton.checked) {
      selectedSize = radioButton.value;
      break;
    }
  }

  const data = {
    "product_id": pathParamValue,
    "quantity": quantity,
    "color": selectedColor,
    "size": selectedSize
  };
  console.log(data);
  fetch('http://localhost:8000/order/add_to_cart/', {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
  })
      .then(response => response.json())
      .then(data => {
          console.log(data);
      })
      .catch(error => {
          console.error('Error:', error);
      });
}
</script>
 
{% endblock %}

