<!DOCTYPE html>
<html>
<head>
    {% load static %} 

    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-4 bg-light mt-5">
                <div class="pt-4" ><h5 class="card-title">Login</h5></div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Login">
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
</body>
</html>
