<div class="container" id="login_container" style="display: none;">
    <section id="form">
        <div class="row  center-container">
            <div class="col-sm-6 col-md-offset-3">   
                <div class="card bg-light mb-3 mx-5" style="max-width: auto;">
                    <div class="card-body">
                        <div class="signup-form" login_container id="signup-div">
                            <form method="post" action="" id="login_form">
                                {% csrf_token %}
                                <div class="form-floating mb-2 mt-3">
                                    <input type="text" id="phone_number"  name="phone_number" class="form-control" placeholder="Phone number" />
                                    {% comment %} pattern="[09][0-9]{2}-[0-9]{3}-[0-9]{4}" {% endcomment %}
                                    <label for="phone_number">Phone number</label>
                                </div>
                               
                                <button id="login_btn" type="submit" class="btn btn-primary btn-sm">Login</button>
                                
                            </form>
                        </div>
                        <div class="code=verify-form" style="display: none;" id="code-verify-div">
                            <form method="post" action="" id="code-verify_form">
                                {% csrf_token %}
                                <div class="form-floating mb-2 mt-3"> 
                                    <input type="text" id="code"  name="code" class="form-control" placeholder="Verification Code" />
                                    {% comment %} pattern="[09][0-9]{2}-[0-9]{3}-[0-9]{4}" {% endcomment %}
                                    <label for="code">Code</label>
                                </div>
                               
                                <button id="verify_btn" type="submit" class="btn btn-primary btn-sm">Verify</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>
</div>

